[submodule "_setuptools"]
	path = _setuptools
	url = https://github.com/pypa/setuptools
[submodule "_autocommand"]
	path = _autocommand
	url = https://github.com/Lucretiel/autocommand
[submodule "jaraco.text"]
	path = jaraco.text
	url = https://github.com/jaraco/jaraco.text
[submodule "jaraco.context"]
	path = jaraco.context
	url = https://github.com/jaraco/jaraco.context
[submodule "jaraco.functools"]
	path = jaraco.functools
	url = https://github.com/jaraco/jaraco.functools
[submodule "backports.tarfile"]
	path = backports.tarfile
	url = https://github.com/jaraco/backports.tarfile
[submodule "_importlib_metadata"]
	path = _importlib_metadata
	url = https://github.com/python/importlib_metadata
[submodule "_importlib_resources"]
	path = _importlib_resources
	url = https://github.com/python/importlib_resources
[submodule "_inflect"]
	path = _inflect
	url = https://github.com/jaraco/inflect
[submodule "more-itertools"]
	path = more-itertools
	url = https://github.com/more-itertools/more-itertools
[submodule "ordered-set"]
	path = ordered-set
	url = https://github.com/rspeer/ordered-set
[submodule "_packaging"]
	path = _packaging
	url = https://github.com/pypa/packaging
[submodule "_platformdirs"]
	path = _platformdirs
	url = https://github.com/platformdirs/platformdirs
[submodule "_tomli"]
	path = _tomli
	url = https://github.com/hukkin/tomli
[submodule "_typeguard"]
	path = _typeguard
	url = https://github.com/agronholm/typeguard
[submodule "_typing_extensions"]
	path = _typing_extensions
	url = https://github.com/python/typing_extensions
[submodule "_wheel"]
	path = _wheel
	url = https://github.com/pypa/wheel
[submodule "_zipp"]
	path = _zipp
	url = https://github.com/jaraco/zipp
[submodule "_setuptools_scm"]
	path = _setuptools_scm
	url = https://github.com/pypa/setuptools_scm
[submodule "_flit"]
	path = _flit
	url = https://github.com/pypa/flit
[submodule "coherent/build"]
	path = coherent/build
	url = gh://coherent-oss/coherent.build
